<%= link_to about_path do %>
  <i class="material-icons arrow-back">arrow_back</i>
<% end %>

  <div class="about-brand-page">

    <div class="about-brand-title">" L'aventure, c'est l'aventure ... "</div>

    <div class="hr-box">
      <div class="hr-about-road-title"></div>
    </div>

    <div class="about-brand-intro">
      <p>Née de la passion pour l’aventure, c’est en traversant le monde à moto que l’univers de la
      marque Mama Moto s’est construit. C’est d’abord l’envie de racontrer des histoires de femmes d’actions :
      des aventurieres, des femmes qui osent, trangressent et brisent les clichés. Fières de plusieurs visages,
      elles portent sans complexes leurs forces et leurs faiblesses, dans une quête de liberté fondamentale et
      rèsolument moderne.</p>

      <p>Au centre de leur action ? L’envie de changer le monde, de bousculer, de réinventer, de révo-
      lutionner la façon dont nous consommons et dont nous produisons, en placant l’humain au
      coeur des priorités. Nous voulons montrer qu’il est possible d’entreprendre tout en respectant des
      valeurs sociales et ethiques.</p>
    </div>

    <div class="about-road-img-box">
      <%#= image_tag('about_page/about_brand/equipee_bra.jpg', class:'img-bra')%>
      <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511949648/about_page/about_brand/equipee_bra.jpg', class:'img-bra')%>
    </div>

    <hr>


    <h2>Nos valeurs: </h2>


    <h3>OSER</h3>
    <div class="about-brand-card">
      <div class="about-brand-card-description">
        <p>Une marque qui ose, tant par son discours décalé et audacieux
        que par ses choix, valorisant l’entreprenariat social et ethique.</p>

        <p>Une marque qui se joue des codes, une marque surprenante.
        Plus qu’un style vestimentaire nous representons un style de vie,
        vrai et authentique,qui se construit souvent en un instant ou
        tout peu basculer, ou l’on se lance...</p>
      </div>
      <div class="about-brand-card-img">
        <%#= image_tag('about_page/about_brand/oser2.jpg', class:'about-brand-img-card-right')%>
        <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511949652/about_page/about_brand/oser2.jpg', class:'about-brand-img-card-right')%>
      </div>
    </div>

    <h3>DECOUVRIR</h3>
    <div class="about-brand-card">
      <div class="about-brand-card-img">
        <%#= image_tag('about_page/about_brand/decouvrir2.jpg', class:'about-brand-img-card-left')%>
        <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511949646/about_page/about_brand/decouvrir2.jpg', class:'about-brand-img-card-left')%>
      </div>
      <div class="about-brand-card-description">
        <p>Pour Mama Moto la découverte est un enrichissement à double
        sens. Chacun apprend à travers des relations ou l’Humain à
        une place centrale.</p>

        <p>Nous sommes une marque humaine, bienveillante et émotionelle,
          qui découvre autant qu’elle fait découvrir.</p>

        <p>Construite sur un dialogue sincère, Mama Moto rassemble une
        génération d’aventuriers en quête de sens et d’authenticité.</p>
      </div>
    </div>

    <h3>AGIR</h3>
    <div class="about-brand-card">
      <div class="about-brand-card-description">
        <p>Conscient des défis de demain, nous produisons une marque
        éthique et responsable.</p>

        <p>Plus qu’une collection de vêtement, Mama Moto transmet ses
        valeurs et s’engage en développant ses collections de manière
        éco-responsables et solidaires.</p>

        <p>Nous travaillons avec des ateliers et des collectivités locales,
        et nos tissus sont issus de la filière éco friendly.</p>
      </div>
      <div class="about-brand-card-img">
        <%#= image_tag('about_page/about_brand/agir.jpg', class:'about-brand-img-card-right')%>
        <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511949645/about_page/about_brand/agir.jpg', class:'about-brand-img-card-right')%>
      </div>
    </div>

    <h3>TRANSMETTRE</h3>
    <div class="about-brand-card">
      <div class="about-brand-card-img">
        <%#= image_tag('about_page/about_brand/transmettre4.jpg', class:'about-brand-img-card-right')%>
        <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511949652/about_page/about_brand/transmettre4.jpg', class:'about-brand-img-card-right')%>
      </div>
      <div class="about-brand-card-description">
        <p>Mama Moto est une marque qui inspire. Nous souhaitons
        influencer les jeunes femmes à se constuire dans l’action et
        le dépassement des préjugés.</p>

        <p>A travers nos aventures nous souhaitons mettre en lumiere
        des femmes qui agissent avec bienvaillance sur les enjeux
        de demain.</p>

        <p>Une envie de construire et de rêver ensemble.</p>
      </div>
    </div>

    <a href="#" class="link-to-top">Haut de page</a>

</div>
