<div class="about-road-page">
  <h3>L’experience de la route, la resentir, l’éprouver.</h3>

  <div class="about-text-box">

    <p>Un besoin inconditionnel de liberté me pousse en 2014 à quitter mon confortable travail, avec une idee en tête: rallier Paris - Pekin à moto.</p>
    <p>Le destin me mènera vers d’autres aventures, mais avec une certitude, la moto me fait du bien et comble mes besoins d’aventures et de libertés.</p>

  </div>

  <div class="about-road-img-box">
    <%= image_tag('about_page/about_road/paris.jpg', class:'img-paris')%>
  </div>

  <hr>

  <h3>Sur les routes d’Himalaya</h3>

  <div class="about-text-box">
    <p>Le périple aura duré un mois et plus de 2500 km. Au guidon de Royal Enfields nous avons fait l’expérience d’un raid particulièrement aventureux sur les pistes du nord de l’Inde en passant par le Ladakh, le Zanskar, le Cachemire et l’Himachal
      Pradesh. Une aventure unique !</p>
  </div>

  <iframe class="vimeo-player" src="https://player.vimeo.com/video/135571376" width="1200" height="585" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>

  <hr>

  <h3>Sur les routes d’Espagne et du Portugal</h3>

  <%= image_tag('about_page/about_road/karousel1.jpg', class:'img-map')%>

  <div class="about-text-box">
    <p>En voyage a Biarritz pour m’essayer au surf, mon vole de retour vers Paris est annule. Sans trop savoir comment le prendre, je me retrouve a la terasse d’un cafe et je decide de regarder sur le bon coin les motos a vendre dans la region.... Je
      trouve un Tenere a moins de 1000 euros a quelques km ! Signe du destin, je l’achete et le lendemain me voila re-partie, pour une nouvelle aventure. 3000 km a trvaers Les pyrenees, l’espagne puis le portugual, 3 semaines de road trip decides en un
      instant, et retour a paris avec une nouvelle moto, merci les greves d’avion !</p><br>
  </div>

  <div id="carousel-1" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('about_page/about_road/karousel2.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/karousel3.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/karousel4.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/karousel5.jpg')%>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr>

  <h3>Sur les routes du Brésil</h3>

  <div class="about-text-box">
    <p>Plus de 4000 kilomètres en Bonneville T100 à travers le Brésil pour valoriser l’action au feminin. Un mois d’aventure à la recherche des femmes d’exceptions,
    en partenariat avec Marie Claire International :</p><br>
    <a href="http://www.marieclaire.com/the-road-to-beauty" target="_blank" class="link-marie-claire">Le site web de l'aventure </a>
  </div>

  <iframe class="vimeo-player vimeo-player-alt" src="https://player.vimeo.com/video/157845595" width="1200" height="585" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <hr>

  <h3>Sur les routes du Lesotho </h3>

  <%= image_tag('about_page/about_road/lesotho/12.jpg', class:'img-map')%>

  <div class="about-text-box">
    <p>Alors que je roulais depuis plusieurs jours seule au milieu des paysages grandioses, je vois dans mon retro un maxi trial arriver a toute vitesse, je
    commence a le suivre, je le double, il me redouble ... on s’amuse sur quelques kilomètres. On finit par s’arrêter. Il est Sud Afriain, il vient de Durban et
    passe le week-end au Lesotho pour suivre l’extrême course d’enduro The Roof Of Africa. Je ne connais pas cet évènement, mais quand je vois ses
    yeux pleins d’etoiles quand il m’en parle, je decide de le suivre ! Le lesotho est tres peu visité par les touristes, des paysages purs et des rencontres
    authentiques.</p><br>
  </div>

  <div id="carousel-2" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('about_page/about_road/lesotho/2.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/3.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/4.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/5.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/6.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/7.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/8.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/9.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/10.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/11.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/lesotho/1.jpg')%>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr>

  <h3>Sur les routes d’Afrique Du Sud</h3>

  <%= image_tag('about_page/about_road/south_africa/1.jpg', class:'img-map')%>

  <div class="about-text-box">
    <p>5500 km pourcouru, 6 semaines a travers des paysages d’une rare diversite: montagne, foret, desert,
    plateau, plaine, mer et toujours une piste au detour d’une grande route. Sortir des grand itineraires
    les plus empruntes et tres facile, le off road est autorisé partout.</p><br>
  </div>

  <div id="carousel-3" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('about_page/about_road/south_africa/2.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/3.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/4.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/5.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/6.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/7.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/8.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/10.jpg')%>
      </div>
      <div class="item">
        <%= image_tag('about_page/about_road/south_africa/11.jpg')%>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-3" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-3" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr>

  <h3>Sur les routes des Pyrenées</h3>
  <div class="about-text-box">
    <p>La Transpy AMV legende est un rally a l'ancienne, ont roule sur des motos de collections et on se dirige avec un road book au dérouleur. C'est un périple de six jours de la Méditerranée à l’Atlantique, en passant par les plus belles routes des Pyrénées.
      Apres 3 editions dans les Pyrénées, RDV en 2018 avec un nouveau parcours dans les Alpes et une nouvelle moto actuellement en pleine restauration .... Surprise !</p>
  </div>

  <iframe class="vimeo-player vimeo-player-alt" src="https://player.vimeo.com/video/134188003" width="1200" height="585" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>
