<div class="adventure-page">

  <h3>Prendre la route, c'est ce qu'il doit arriver</h3>

  <div class="adventure-text-box">
    <p class="first-adventure-paragraph">Je vous propose de me rejoindre pour une aventure à Moto en Afrique du Sud.</p>
  </div>

  <div class="img-top-adventure-box">
    <%= image_tag('adventure_page/img-top.jpg', class:'img-top-adventure')%>
  </div>

  <div class="adventure-text-box">

    <p>Loin des voyages organisés par des professionnels du tourisme, je vous propose de vivre une experience singulière. Chaque aventure sera unique.
    Mon désir est de partager ma vision du voyage et de l'aventure avec vous.
    N'hésitez pas a me contacter, je serais ravie de vous accompagner sur les pistes d'Afrique du Sud. </p>

  </div>

  <div class="img-middle-adventure-box">
    <%= image_tag('adventure_page/table-mountain.png', class:'img-middle-adventure')%>
  </div>


<h3>Qu’est ce que l’aventure ?</h3><br>
    <div class="row">
      <div class="card">
        <p>A l’heure ou l’on peut rallier les bouts du monde en quelques heures d’avion, l’aventure est devenue un objet de consommation pour le tourisme de masse.
         Comment parler d’aventure, et comment la définir ?</p>
        <p>L’aventure pour Mama Moto est un style de vie qui implique un rapport à l’engagement, à l’isolement, et au risque.</p>
      </div>
      <div class="small-img-box">
        <%= image_tag('adventure_page/small-img-1.jpg', class:'small-img')%>
      </div>
    </div>

    <div class="row">
      <div class="small-img-box">
        <%= image_tag('adventure_page/small-img-2', class:'small-img')%>
      </div>

      <div class="card">
        <p>La solitude et l’isolement sont des valeurs propres à l’aventure. La moto est un formidable moyen de les explorer.
          Seul dans son casque, on se laisse aller à ses pensées, on se connecte à ses désirs, ses rêves, son imagination.</p>
        <p>Chacun a sa façon de vivre la solitude, mais pour qu’elle soit bénéfique, elle ne peut être que choisie.
          Lorsque l'on est seul il n'y a pas d'autre choix que d'être maître de sa trajectoire, de s’engager, de prendre des décisions, un risque.</p>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <p>L'aventure c’est aller vers des territoires que l’on ne connait pas, qu'ils soient physiques, socios ou intellectuels.
          C’est une façon de se mettre en déséquilibre, en difficulté. Il est primordial de sortir de ses certitudes et d'accepter d'aller vers une réalité que l’on ne maîtrise pas.</p>
        <p>Être un aventurier, c’est vouloir être bousculé.</p>
      </div>
      <div class="small-img-box">
        <%= image_tag('adventure_page/small-img-3', class:'small-img')%>
      </div>
    </div>

      <p class="conclusion">Mama moto vous propose de vous accompagner dans ce voyage initiatique.</p>

</div>
