<div class="products-page">

  <div class="products-list">
    <div class="first-products-banner">
      <div data-turbolinks="false" class="products-card">
          <h2 class="products-title-banner">THE TANKWA BAG</h2>
          <%#= image_tag('shop_page/tankwa_bag.jpg', class:'image-products-card')%>
          <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952201/shop_page/tankwa_bag_sw3qh6.jpg', class:'image-products-card')%>
          <%= link_to 'DISCOVER THE PRODUCT', first_product_path, class:'discover-title'%>
      </div>
    </div>
    <div class="second-products-banner">
      <div data-turbolinks="false" class="products-card">
          <h2 class="products-title-banner">THE KAROO BAG</h2>
          <%#= image_tag('shop_page/karoo_bag.jpg', class:'image-products-card')%>
          <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952176/shop_page/karoo_bag_cc2jjx.jpg', class:'image-products-card')%>
          <%= link_to 'DISCOVER THE PRODUCT', second_product_path, class:'discover-title'%>
      </div>
    </div>
    <div class="third-products-banner">
      <div data-turbolinks="false" class="products-card">
          <h2 class="products-title-banner">ACCESSORIES</h2>
          <%#= image_tag('shop_page/candle.jpg', class:'image-products-card')%>
          <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952164/shop_page/candle_cq33pq.jpg', class:'image-products-card')%>
          <%= link_to 'DISCOVER THE PRODUCTS', third_product_path, class:'discover-title'%>
      </div>
    </div>
    <div class="fourth-products-banner">
      <div data-turbolinks="false" class="products-card">
          <h2 class="products-title-banner">CLOTHING</h2>
          <%#= image_tag('shop_page/sweat_shirt.jpg', class:'image-products-card')%>
          <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952193/shop_page/sweat_shirt_tzcljx.png', class:'image-products-card')%>
          <%= link_to 'DISCOVER THE PRODUCTS', fourth_product_path, class:'discover-title'%>
      </div>
    </div>

  </div>

</div>
