  <div class="product-page">

    <div class="second-product-banner">
      <div class="product-card">
        <div id='product-component-buy-button-card-2'></div>
        <div class="preorder"><i class="material-icons">lightbulb_outline</i><%= link_to ' why pre-order ?', production_path %></div>
      </div>
    </div>

    <div class="bags-media">
        <h3> Le Karoo</h3>
        <%#= image_tag('shop_page/second_product/8.jpg', class:'lifestyle-img')%>
        <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956979/shop_page/second_product/8.png', class:'lifestyle-img')%>
        <h4>Un sac de baroudeur</h4>


        <div class="karoo-top-description-box">
          <div class="karoo-top-description">
            <p>Avec ses allures de baroudeur des villes, ses larges sangles rivetées et sa ligne trapue, celui-ci embarquera aisément
             tous vos documents, dossiers, vêtements, casque … </p>
           </div>
          <div>
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511963357/shop_page/baroudeur_detoure_2.png', class:'karoo-top-description-img')%>
          </div>
          <div class="karoo-top-description">
            <p>Il peut aussi se transformer en sac de voyage en se déployant à chaque extrémité pour s’agrandir
              et vous suivre dans toutes vos aventures.</p>
          </div>
        </div>

        <p class="description-shoulder">Se porte en bandoulière ou à l’épaule !</p>


        <h4>Un fourre tout simple et solide</h4>

        <div class="bags-media-card">
          <div class="bags-media-card-description">
            <p>Sac à double fermeture éclair, anses et bandoulière</p>
          </div>
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511966990/shop_page/second_product/P1020690.jpg', class:'bags-media-img-card-right')%>
          </div>
        </div>

        <div class="bags-media-card">
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511966590/shop_page/second_product/P1020703.jpg', class:'bags-media-img-card-left')%>
          </div>
          <div class="bags-media-card-description">
            <p>Mousquetons latéraux permettant de choisir la taille du sac</p>
          </div>
        </div>

        <div class="bags-media-card">
          <div class="bags-media-card-description">
              <p>Doublure en coton épais bio rouge et grande poche intérieure en cuir avec fermeture eclair (10x5cm)</p>
          </div>
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511965076/shop_page/second_product/contourok.jpg', class:'bags-media-img-card-right')%>
          </div>
        </div>

        <div class="bags-media-card">
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511964982/shop_page/P1020678.jpg', class:'bags-media-img-card-left')%>
          </div>
          <div class="bags-media-card-description">
              <p>Deux poches intérieures en cuir ouvertes (5x5cm)</p>
          </div>
        </div>

        <div class="bags-media-card">
          <div class="bags-media-card-description">
              <p>Renforts latéraux en cuir</p>
          </div>
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511966244/shop_page/second_product/P1020695.jpg', class:'bags-media-img-card-right')%>
          </div>
        </div>

        <div class="bags-media-card">
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511966388/shop_page/second_product/P1020700.jpg', class:'bags-media-img-card-left')%>
          </div>
          <div class="bags-media-card-description">
              <p>Rivets en métal</p>
          </div>
        </div>

        <div class="bags-media-card">
          <div class="bags-media-card-description">
              <p>Avec une contenance de 45 litres et des dimensions de 50x24x38cm, il est tout à fait possible de le prendre en cabine lors d'un voyage en avion</p>
          </div>
          <div class="bags-media-card-img">
            <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511966709/shop_page/P1020705.jpg', class:'bags-media-img-card-right')%>
          </div>
        </div>

      <br>
      <h4 class="subtitle-gallery-bags">A PORTER EN TOUTE CIRCONSTANCE</h4>

      <div class="gallery-bags">
          <div class="row-1">
            <div><%#= image_tag('shop_page/second_product/lifestyle2.jpg', class:'row-1-pic-1')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956977/shop_page/second_product/lifestyle2.jpg', class:'row-1-pic-1')%></div>
            <div><%#= image_tag('shop_page/second_product/lifestyle12.jpg', class:'row-1-pic-2')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511961730/shop_page/second_product/lifestyle12_rudct3.jpg', class:'row-1-pic-2')%></div>
          </div>
          <div class="row-2">
            <div><%#= image_tag('shop_page/second_product/lifestyle3.jpg', class:'row-2-pic-1')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956977/shop_page/second_product/lifestyle3.jpg', class:'row-2-pic-1')%></div>
            <div><%#= image_tag('shop_page/second_product/lifestyle4.jpg', class:'row-2-pic-2')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956989/shop_page/second_product/lifestyle4.jpg', class:'row-2-pic-2')%></div>
            <div><%#= image_tag('shop_page/second_product/lifestyle5.jpg', class:'row-2-pic-3')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956979/shop_page/second_product/lifestyle5.jpg', class:'row-2-pic-3')%></div>
          </div>
          <div class="row-3">
            <div class="box-left">
              <%#= image_tag('shop_page/second_product/lifestyle6.jpg', class:'row-3-pic-1')%>
              <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956979/shop_page/second_product/lifestyle6.jpg', class:'row-3-pic-1')%>
            </div>
            <div class="box-right">
              <%#= image_tag('shop_page/second_product/lifestyle7.jpg', class:'row-3-pic-2')%>
              <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511956994/shop_page/second_product/lifestyle7.jpg', class:'row-3-pic-2')%>
              <%#= image_tag('shop_page/second_product/lifestyle8.jpg', class:'row-3-pic-3')%>
              <%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511957001/shop_page/second_product/lifestyle8.png', class:'row-3-pic-3')%>
            </div>
          </div>
          <div class="row-4">
            <div><%#= image_tag('shop_page/second_product/lifestyle9.jpg', class:'row-4-pic-1')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/c_scale,h_2029/v1511961731/shop_page/second_product/lifestyle9_kccuip.jpg', class:'row-4-pic-1')%></div>
            <div><%#= image_tag('shop_page/second_product/lifestyle13.jpg', class:'row-4-pic-2')%></div>
            <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511961731/shop_page/second_product/lifestyle13_fxmgv2.jpg', class:'row-4-pic-2')%></div>
          </div>

      </div>

    </div>

    <div class="bags-text">

      <div class="bags-text-intro">" Les sacs Tankwa et Karoo ont été imaginés lors d'une aventure à moto dans la région sud-africaine du Cederberg,
        à travers les formations rocheuses et les grandes étendues sablonneuses. Une immensité brute, brune
        et orangée, qui donne un sentiment de solitude et de liberté totale ..."</div>

      <h4>Un cuir pur et brut</h4>

      <div class="row-2">
        <div><%#= image_tag('shop_page/leather_4.png', class:'row-2-pic-1')%></div>
        <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511962148/shop_page/leather_4_dirbus.jpg', class:'row-2-pic-1')%></div>
        <div><%#= image_tag('shop_page/leather_5.png', class:'row-2-pic-2')%></div>
        <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511962147/shop_page/leather_5_zrltbv.jpg', class:'row-2-pic-2')%></div>
        <div><%#= image_tag('shop_page/leather_6.png', class:'row-2-pic-3')%></div>
        <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511962147/shop_page/leather_6_nrihzx.jpg', class:'row-2-pic-3')%></div>
      </div>

      <p class="description-bags-production"> Nous avons utilisé un cuir traduisant l'univers et les couleurs du Cederberg.
      C'est un cuir non modifié, authentique, ou les cicatrices se montrent clairement.
      Le tannage est effectué en respectant des techniques ancestrales, comme l'ajout de cire naturelle à la main.
      L'aspect naturelle du cuir nous rappelle l'origine noble du matériau. Les caractéristiques de la peau de la bête restent visibles,
      ce qui rend chaque pièce quasi unique. Comme toute matière naturelle, le contact avec l'eau ou le soleil altérera sa couleur et lui offrira une magnifique patine.
      Un cuir qui vieillira et développera son caractère avec le temps.</p>


      <h4>Un cuir respectant notre engagement éthique</h4>

      <div class="row-1">
        <!-- <div><%#= image_tag('shop_page/africa.jpg', class:'row-2-pic-1')%></div> -->
        <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952163/shop_page/africa_fmvsin.jpg', class:'row-2-pic-1')%></div>
      </div>

      <p class="description-bags-production">Nous travaillons avec un fournisseur de cuir réputé pour son engagement pour la conservation des animaux d'Afrique. Le cuir provient de vaches d'élevage issues
        d'une ferme certifiée biologique en Namibie.</p>

      <h4>Un atelier a taille humaine</h4>
        <div class="row-2">
          <div><%#= image_tag('shop_page/king_kong2.jpg', class:'row-2-pic-2')%></div>
          <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952175/shop_page/king_kong3_mbqxuz.jpg', class:'row-2-pic-2')%></div>
          <div><%#= image_tag('shop_page/king_kong.jpg', class:'row-2-pic-2')%></div>
          <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952174/shop_page/king_kong_bkakgr.jpg', class:'row-2-pic-2')%></div>
          <div><%#= image_tag('shop_page/king_kong3.jpg', class:'row-2-pic-2')%></div>
          <div><%= image_tag('http://res.cloudinary.com/dx8cyvfka/image/upload/v1511952176/shop_page/king_kong2_hvtcyj.jpg', class:'row-2-pic-2')%></div>
        </div>
      <p class="description-bags-production">Ce sac est réalisé à Cape Town dans le quartier de Woodstock par John. Nous avons choisi cet atelier par coup de coeur pour cet homme et son savoir-faire.
      C'est un vrai passionné, il approche le cuir avec un grand respect et explique que pour lui c'est un honneur de pouvoir travailler la peau d'un animal.
      C'est comme redonner vie a son âme...
      </p>



    <div id='product-component-buy-button-2'></div>


    <div class="preorder"><i class="material-icons">lightbulb_outline</i><%= link_to ' why pre-order ?', production_path %></div>

  </div>

</div>


  <script>

  //SHOPIFY//

  (function () {
    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
    if (window.ShopifyBuy){
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }

    function loadScript() {
      var script = document.createElement('script');
      script.async = true;
      script.src = scriptURL;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
      script.onload = ShopifyBuyInit;
    }

    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: 'mama-moto.myshopify.com',
        apiKey: '1ce906270356d2dcc55065bc52d15e9f',
        appId: '6',
      });

      /////// PRODUCT  ////////

      /////// CARD WITH BUY BUTTON  ////////

      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent('product', {
          id: [412589326379],
          node: document.getElementById('product-component-buy-button-card-2'),
          moneyFormat: '%E2%82%AC%7B%7Bamount%7D%7D',
          options: {
            "product": {
              "order": [
                'title',
                'price',
                'description',
                'button'
              ],
              "text":{
                "button": "PREORDER",
                "outOfStock": 'Out of stock',
                "unavailable": 'Unavailable',
              },
              "layout": "vertical",
              "variantId": "all",
              "width": "400px",
              "contents": {
                "img": false,
                "imgWithCarousel": false,
                "variantTitle": false,
                "description": true,
                "buttonWithQuantity": false,
                "quantity": false
              },
              "styles": {
                "product": {
                  "img": {
                  "border-radius": "10px",
                  "box-shadow": "0 4px 4px 0 rgba(0,0,0,0.2)"
                  },
                  "text-align": "center",
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0",
                    "margin-bottom": "50px"
                  }
                },
                "button": {
                  "border-radius": "5px",
                  "margin-top": "10px !important",
                  "color": "white",
                  "font-weight": "bold",
                  "border": "1px solid black",
                  "background-color": "#000000",
                  ":hover": {
                    "background-color": "#404040"
                  }
                },
                "title": {
                  "font-size": "22px",
                  "color": "black",
                  "font-weight": "bold",
                  "font-family": "'Roboto', sans-serif;",
                  "margin-top": "20px"
                },
                "price": {
                  "font-size": "28px",
                  "color": "black",
                  "font-family": "'Roboto', sans-serif;",
                },
                "description": {
                  "background-color": "#f2f2f2",
                  "width": "4000px !important",
                  "padding": "5px",
                  "text-align": "justify"
                },
                "compareAt": {
                  "font-size": "18px"
                }
              }
            },
            "cart": {
              "text":{
                "button": "ORDER"
              },
              "contents": {
                "button": true
              },
              "styles": {
                "button": {
                  "font-weight": "bold",
                  "background-color": "#000000",
                  ":hover": {
                    "background-color": "#404040"
                  }
                },
                "footer": {
                  "background-color": "#ffffff"
                }
              }
            },
            "toggle": {
              "styles": {
                "toggle": {
                  "background-color": "#000000",
                  ":hover": {
                    "background-color": "#404040"
                  }
                }
              }
            }
          }
        });
      });

      /////// BUY BUTTON ONLY  ////////

      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent('product', {
          id: [412589326379],
          node: document.getElementById('product-component-buy-button-2'),
          moneyFormat: '%E2%82%AC%7B%7Bamount%7D%7D',
          options: {
            "product": {
              "text":{
                "button": "PREORDER THE BAG",
                "outOfStock": 'Out of stock',
                "unavailable": 'Unavailable',
              },
              "layout": "vertical",
              "variantId": "all",
              "width": "400px",
              "contents": {
                "img": false,
                "imgWithCarousel": false,
                "variantTitle": false,
                "description": false,
                "buttonWithQuantity": false,
                "quantity": false,
                "title": false,
                "price": false
              },
              "styles": {
                "product": {
                  "text-align": "center",
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0",
                    "margin-bottom": "50px"
                  }
                },
                "button": {
                  "border-radius": "5px",
                  "width": "100%",
                  "margin": "30px 0 20px 0 !important",
                  "color": "white",
                  "font-weight": "bold",
                  "border": "1px solid black",
                  "background-color": "#000000",
                  ":hover": {
                    "background-color": "#404040"
                  }
                }
              }
            },
            "cart": {
              "text":{
                "button": "ORDER"
              },
              "contents": {
                "button": true
              },
              "styles": {
                "button": {
                  "font-weight": "bold",
                  "background-color": "#000000",
                  ":hover": {
                    "background-color": "#404040"
                  }
                },
                "footer": {
                  "background-color": "#ffffff"
                }
              }
            },
            "toggle": {
              "styles": {
                "toggle": {
                  "background-color": "#000000",
                  ":hover": {
                    "background-color": "#404040"
                  }
                }
              }
            }
          }
        });
      });

    }
  })();


  </script>
