<div class="shop-page">


  <div class="products-list">
    <div class="first-product-banner">
      <div data-turbolinks="false" class="product-card">
          <h2 class="product-title-banner">THE BO-KAAP BACKPACK</h2>
          <%= image_tag('shop_page/bokaap_bag.jpg', class:'image-product-card')%>
          <%= link_to 'DISCOVER THE PRODUCT', first_product_path, class:'discover-title'%>
      </div>
    </div>
    <div class="second-product-banner">
      <div data-turbolinks="false" class="product-card">
          <h2 class="product-title-banner">THE KAROO TRAVELBAG</h2>
          <%= image_tag('shop_page/karoo_bag.jpg', class:'image-product-card')%>
          <%= link_to 'DISCOVER THE PRODUCT', second_product_path, class:'discover-title'%>
      </div>
    </div>
    <div class="third-product-banner">
      <div data-turbolinks="false" class="product-card">
          <h2 class="product-title-banner">THE RACINE D'ASPHALTE CANDLE </h2>
          <%= image_tag('shop_page/candle.jpg', class:'image-product-card')%>
          <%= link_to 'DISCOVER THE PRODUCT', third_product_path, class:'discover-title'%>
      </div>
    </div>
  </div>

</div>
